body{
    height: 100%;
    width: 100%;
    background-color:peru;
    z-index:0;
}
.container{
    background-color:#000000;
    border: black;
    border-width: 4px;
    height: 100%;
    width: 100%;
    z-index:1;
}